# Xilinx directories
_ngo
_xmsgs
iseconfig
xlnx_auto_0_xdb
xst

# Xilinx output files
*.bit

# Xilinx intermediate files
*.bgn
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.ngc
*.ngd
*.ngr
*.ngm
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.ncd
*.map
*.mrp
*.ncd
*.xrpt
#generated pad files
*_pad.*
# summaries
*_envsettings.html
*_summary.*
*_statistics.html
*_usage.*
*webtalk*
